* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  transition: all 0.3s;
}

html,
body {
  height: 100%;
}

button {
  cursor: pointer;
}

body {
  background: #7159c1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-rendering: optimizelegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.auth-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 60px;
}

.auth-wrapper form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  padding: 30px 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.auth-wrapper form > img {
  margin-bottom: 20px;
}

.auth-wrapper form input:not([type="checkbox"]) {
  height: 40px;
  padding: 0 15px;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #444;
}

.auth-wrapper form input:not([type="checkbox"]):focus {
  border-color: #c1b2f3;
}

.auth-wrapper form label[for="avatar"] {
  width: 80px;
  height: 80px;
  background: #eee;
  border-radius: 50%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  overflow: hidden;
}

.auth-wrapper form label[for="avatar"] img.preview {
  width: 100%;
  min-height: 100%;
}

.auth-wrapper form label[for="provider"] {
  margin: 5px 0 10px;
  font-size: 13px;
  color: #444;
  align-self: center;
}

.auth-wrapper form label[for="provider"] input {
  margin-right: 2px;
}

.auth-wrapper form input[type="file"] {
  display: none;
}

.auth-wrapper form button {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  border: 0;
  color: #fff;
  background: #7159c1;
  margin-top: 5px;
}

.auth-wrapper form button:hover {
  background: #634dac;
}

.auth-wrapper form a {
  margin-top: 15px;
  display: block;
  text-align: center;
  color: #999;
  text-decoration: none;
}

.auth-wrapper form a:hover {
  color: #666;
}

.main-wrapper .content {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  padding: 30px 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.main-wrapper .content > strong,
.main-wrapper .content > .page-link {
  display: block;
  text-align: center;
  font-size: 21px;
  color: #444;
  margin-bottom: 20px;
}

.main-wrapper .content a.logout {
  background: #de6d6d;
  text-decoration: none;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  border: 0;
  color: #fff;
}

.main-wrapper .content a.logout:hover {
  background: #c15858;
}

.main-wrapper .content p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
  text-align: center;
}

.main-wrapper .content input {
  height: 40px;
  padding: 0 15px;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #444;
}

ul.providers {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.provider {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.provider div {
  display: flex;
  align-items: center;
}

.provider img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.provider strong {
  margin-left: 15px;
  color: #444;
}

.provider a {
  background: #7159c1;
  padding: 5px 10px;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  color: #fff;
}

.alert {
  width: 100%;
  padding: 8px 15px;
  border-radius: 4px;
  background: #f38888;
  border: 1px solid #de6d6d;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
}

.alert-success {
  background: #adf7b2;
  border-color: #96e89c;
}

#hours {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}

#hours label {
  display: flex;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
}

#hours label.disabled {
  opacity: 0.3;
}

#hours label input {
  margin: 0;
  height: auto;
  padding: 0;
  margin-right: 5px;
}

.main-wrapper .content form > input {
  width: 100%;
}

.main-wrapper .content form button {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  border: 0;
  color: #fff;
  background: #7159c1;
  margin-top: 5px;
}

.main-wrapper .content form button:hover {
  background: #634dac;
}
