<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>01 - Challenge #goNode</title>
</head>
<body>
  <form action="/check" method="POST">
    <label for="age">Idade: </label>
    <input type="number" id="age" name="age">
    <button type="submit">Enviar</button>
  </form>
</body>
</html>
