<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Minor page</title>
</head>
<body>
  <p>
    Você é <b>menor</b> de idade e possui <b>{{ age }}</b> anos
  </p>
</body>
</html>
