{% for hour in availables %}
  <label for="time-{{ hour.time }}" class="{% if hour.available === false %} disabled {% endif %}">
    {% if hour.available === true %}
      <input type="radio" id="time-{{ hour.time }}" name="date" value="{{ hour.value }}">
    {% endif %}
    {{ hour.time }}
  </label>
{% endfor %}
