{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
    <strong>Agendando horário</strong>
    <div class="provider">
      <div>
        <img src="/files/{{ provider.avatar }}" alt="">
        <strong>{{ provider.name }}</strong>
      </div>
    </div>

    <form action="/app/appointments/new/{{ provider.id }}" method="POST">
      <input type="text" class="flatpickr" placehoder="Escolha uma data">

      <div id="hours">

      </div>

      <button type="submit">Agendar</button>
    </form>
  </div>

  <script type="text/javascript">
    flatpickr('.flatpickr', {
      minDate: new Date(),
      dateFormat: 'd/m/Y',
      onChange: function (date) {
        const timestamp = date[0].getTime()
        fetch(`/app/available/{{ provider.id }}?date=${timestamp}`)
          .then(res => res.text())
          .then(html => {
            document.getElementById('hours').innerHTML = html
          })
      }
    })
  </script>
{% endblock %}
