{% extends "_layouts/auth.njk" %}

{% block body %}
  <form action="/signup" method="POST" enctype="multipart/form-data">
    {% include "_partials/flash.njk" %}

    <label for="avatar">
      <img src="/images/avatar.svg" height="24">
    </label>

    <input type="file" name="avatar" id="avatar">

    <input type="text" name="name" placeholder="Seu nome completo">
    <input type="email" name="email" placeholder="Seu e-mail">
    <input type="password" name="password" placeholder="Senha secreta">

    <label for="provider">
      <input type="checkbox" id="provider" name="provider" value="1">
      Sou cabeleireiro
    </label>

    <button type="submit">Criar conta</button>
    <a href="/">Já possuo conta</a>
  </form>

  <script>
    const avatarInput = document.getElementById('avatar')
    const image = document.querySelector('label[for=avatar] img')

    avatarInput.onchange = (e) => {
      image.classList.add('preview')
      image.src = URL.createObjectURL(e.target.files[0])
    }
  </script>
{% endblock %}
