{% extends "_layouts/auth.njk" %}

{% block body %}
  <form action="/signin" method="POST">

    <img src="/images/logo.svg" height="42">

    {% include "_partials/flash.njk" %}

    <input type="email" name="email" placeholder="Seu e-mail">
    <input type="password" name="password" placeholder="Senha secreta">

    <button type="submit">Entrar</button>
    <a href="/signup">Criar conta grátis</a>
  </form>
{% endblock %}
