<h1>Cadastro de Usuários</h1>
<form action="/create" method="POST">
  <label for="name">Nome:</label>
  <input type="text" id="name" name="name">
  <button type="submit">Cadastrar</button>
</form>

<a href="/">Listagem de usuários</a>