<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
    body {
      font-family: sans-serif;
    }
  </style>
</head>

<body>
  <strong>Olá, {{ ad.author.name }}</strong>
  <p>Você tem uma nova solicitação de compra para o anúncio {{  ad.author.title }}</p>
  <br>

  <strong>{{ user.name }} ({{ user.email }}):</strong>
  <p>{{ content }}</p>
</body>

</html>
